<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Анкета</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preload" href="fonts/Roboto.woff2">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-block">
                <input type="checkbox" class="hamburger-menu visually-hidden" name="hamburger" id="hamburger">
                <label for="hamburger">
                    <div class="hamburger">
                        <span class="bar bar1"></span>
                        <span class="bar bar2"></span>
                        <span class="bar bar3"></span>
                        <span class="bar bar4"></span>
                    </div>
                </label>
                <ul class="main-nav main-nav--closed">
                    <li class="main-nav__item"><a href="#information"><span>Личная информация</span></a></li>
                    <li class="main-nav__item"><a href="#experience"><span>Опыт</span></a></li>
                    <li class="main-nav__item"><a href="#js"><span>JavaScript</span></a></li>
                    <li class="main-nav__item"><a href="#about"><span>О себе</span></a></li>
                </div>
            </div>
        </div>
    </header>

    <main id="page">
